@charset "UTF-8";
/* default */
html {
  height: 100%; }

body {
  overflow-x: hidden;
  height: 100%;
  font-family: 'Noto Sans KR', 'Noto Sans JP', 'Noto Sans SC', '맑은 고딕', 'malgun gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',  'Droid sans', 'sans-serif';
  font-size: 12px;
  line-height: 1.3;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: gratranslate3d(0, 0, 0) yscale;
  margin: 0;
  padding: 0; }

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, iframe, th, td {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, dt {
  font-weight: normal; }

img, fieldset, iframe {
  border: 0 none; }

button {
  border: 0 none;
  cursor: pointer;
  background: none; }
  button:focus {
    outline: 0; }

li {
  list-style: none; }

button {
  border: 0 none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  border-collapse: collapse; }

legend, caption, hr {
  display: none; }

i, em, u, cite {
  font-style: normal; }

strong {
  font-weight: normal; }

img {
  vertical-align: top;
  max-width: 100%; }

a {
  color: #4b4c4c;
  text-decoration: none;
  outline-offset: -1px; }

video {
  position: relative;
  width: 100%;
  height: 100%; }

/* common */
body {
  -webkit-overflow-scrolling: touch; }

#p-wrapper {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  background: #00000b url("../images/bg.jpg") 50% 0 no-repeat; }

.kr {
  font-family: 'Noto Sans KR'; }

.jp {
  font-family: 'Noto Sans JP'; }

.ch {
  font-family: 'Noto Sans SC'; }

/* desktop */
@media (min-width: 1024px) {
  .top {
    display: none; }
  header {
    background: #000;
    border-bottom: 1px solid #777; }
    header .header-inner {
      overflow: visible;
      width: 1000px;
      margin: 0 auto; }
      header .header-inner:after {
        display: block;
        content: '';
        clear: both; }
      header .header-inner .logo {
        float: left;
        margin-right: 146px;
        padding-top: 14px;
        font-size: 22px;
        font-weight: 900;
        color: #00b3ca;
        text-transform: uppercase; }
      header .header-inner .menu {
        display: none; }
      header .header-inner nav {
        float: left;
        font-size: 0; }
        header .header-inner nav li {
          display: inline-block;
          margin-left: 50px; }
          header .header-inner nav li:first-child {
            margin-left: 0; }
          header .header-inner nav li a {
            display: block;
            font-size: 17px;
            font-weight: 700;
            line-height: 70px;
            color: #777;
            transition: all .4s;
            -webkit-transition: all .4s;
            -ms-transition: all .4s; }
            header .header-inner nav li a span {
              display: inline-block;
              margin-left: 10px; }
            header .header-inner nav li a.on, header .header-inner nav li a:hover, header .header-inner nav li a:focus, header .header-inner nav li a:active {
              color: #fff; }
              header .header-inner nav li a.on span, header .header-inner nav li a:hover span, header .header-inner nav li a:focus span, header .header-inner nav li a:active span {
                color: #ff0075; }
      header .header-inner .select-box {
        float: right;
        position: relative;
        padding-top: 16px; }
        header .header-inner .select-box > div {
          font-size: 0; }
          header .header-inner .select-box > div figure {
            margin-right: 10px; }
        header .header-inner .select-box ul {
          display: none;
          position: absolute;
          z-index: 1;
          left: 0;
          top: 71px;
          padding: 0 18px;
          width: 170px;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -ms-box-sizing: border-box;
          background: #000; }
          header .header-inner .select-box ul li {
            border-top: 1px solid rgba(114, 114, 114, 0.8); }
            header .header-inner .select-box ul li a {
              font-size: 14px;
              line-height: 44px;
              color: #777;
              transition: all .4s;
              -webkit-transition: all .4s;
              -ms-transition: all .4s; }
              header .header-inner .select-box ul li a:hover, header .header-inner .select-box ul li a:focus, header .header-inner .select-box ul li a:active {
                color: #fff; }
            header .header-inner .select-box ul li:first-child {
              border-top: 0; }
    header .select-box > div figure {
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 40px;
      background: #a9a9a9;
      border-radius: 100%; }
    header .select-box > div button {
      display: inline-block;
      vertical-align: middle;
      font-size: 17px;
      font-weight: 700;
      line-height: 40px;
      color: #777; }
  .p-lnb {
    display: none; }
  section {
    color: #ff0075; }
    section p {
      font-size: 16px;
      line-height: 1.75;
      text-align: justify;
      color: #e95f9e; }
  .tit {
    position: relative;
    display: block;
    padding-bottom: 30px;
    color: #ff0075;
    font-weight: 900;
    text-transform: uppercase; }
    .tit.font-size01 {
      font-size: 61px;
      line-height: 1; }
    .tit.font-size02 {
      font-size: 28px; }
    .tit.font-size03 {
      font-size: 22px; }
    .tit:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 5px;
      background: #ff0075; }
    .tit + span {
      display: block;
      margin-top: 40px;
      font-size: 20px;
      color: #ff0075;
      font-weight: 900;
      text-transform: uppercase; }
  .join-box {
    position: absolute;
    top: 842px;
    right: -290px;
    width: 240px;
    background: #ff0075;
    text-align: center;
    box-shadow: 0px 7px 16.2px 1.8px rgba(2, 7, 57, 0.5);
    -webkit-box-shadow: 0px 7px 16.2px 1.8px rgba(2, 7, 57, 0.5);
    -ms-box-shadow: 0px 7px 16.2px 1.8px rgba(2, 7, 57, 0.5); }
    .join-box a {
      display: block;
      padding: 20px 0;
      color: #fff;
      font-size: 16px;
      font-weight: bold; }
      .join-box a strong {
        display: block;
        font-size: 18px;
        font-weight: bold; }
  .p-container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px; }
  .p-kv {
    padding-top: 130px;
    text-align: center; }
    .p-kv h1 {
      height: 112px;
      text-indent: -9999px;
      background: url("../images/text_sunmi.png") 50% 0 no-repeat; }
    .p-kv > strong {
      display: block;
      width: 384px;
      margin: 28px auto 0;
      font-size: 30px;
      font-weight: bold;
      line-height: 1.22;
      color: #fff;
      text-transform: uppercase; }
    .p-kv .count {
      display: block;
      margin-top: 398px;
      font-size: 0; }
      .p-kv .count strong {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 0 12px 0 0;
        padding-left: 18px;
        font-size: 50px;
        font-weight: bold;
        line-height: 0.95;
        color: #fff; }
        .p-kv .count strong:after {
          content: '/';
          position: absolute;
          top: 10px;
          left: 0;
          font-weight: 300;
          font-size: 26px;
          opacity: .6; }
        .p-kv .count strong:first-child {
          padding-left: 12px; }
          .p-kv .count strong:first-child:after {
            display: none; }
        .p-kv .count strong em {
          display: block;
          margin-top: 10px;
          font-size: 16px; }
  .p-notice {
    margin-top: 53px; }
    .p-notice a {
      display: flex;
      color: #e95f9e; }
    .p-notice .tit {
      margin-right: 23px;
      line-height: 1.14; }
    .p-notice p {
      overflow: hidden;
      width: calc(100% - 152px);
      padding-right: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px; }
    .p-notice span {
      margin-right: 64px;
      font-size: 16px; }
    .p-notice em {
      font-size: 16px;
      font-weight: bold; }
  .p-synop01 {
    display: flex;
    margin-top: 84px; }
    .p-synop01 .tit {
      width: 140px; }
      .p-synop01 .tit + span {
        width: 164px; }
    .p-synop01 .tit-box {
      margin-right: 162px; }
    .p-synop01 .cont01 strong {
      font-size: 26px;
      line-height: 1.13;
      font-weight: bold; }
    .p-synop01 .cont01 p {
      margin-top: 27px; }
    .p-synop01 .cont01 .mobile {
      display: none; }
    .p-synop01 .cont02 {
      margin-top: 174px; }
      .p-synop01 .cont02 strong {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: bold; }
      .p-synop01 .cont02 em {
        display: block;
        margin-top: 22px;
        font-size: 55px;
        line-height: 1;
        font-weight: bold; }
        .p-synop01 .cont02 em + p {
          margin-top: 38px; }
      .p-synop01 .cont02 p {
        margin-top: 30px; }
      .p-synop01 .cont02 > div {
        margin-top: 36px; }
        .p-synop01 .cont02 > div p {
          margin-top: 0; }
        .p-synop01 .cont02 > div + p {
          margin-top: 40px; }
      .p-synop01 .cont02 li {
        font-size: 22px;
        font-weight: bold;
        line-height: 1.36;
        color: #ffc1dd; }
        .p-synop01 .cont02 li span {
          display: block; }
    .p-synop01 .bold {
      margin-top: 30px;
      font-size: 18px;
      font-weight: bold; }
  .p-synop02 {
    display: flex;
    margin-top: 216px; }
    .p-synop02 .tit {
      width: 215px; }
      .p-synop02 .tit + span {
        width: 170px; }
    .p-synop02 .tit-box {
      margin-right: 109px; }
    .p-synop02 li {
      margin-top: 20px; }
      .p-synop02 li:first-child {
        margin-top: 0; }
      .p-synop02 li strong {
        font-size: 18px;
        font-weight: bold;
        color: #ffc1dd; }
  .p-synop03 {
    display: flex;
    margin-top: 217px; }
    .p-synop03 .synopsis03 {
      margin-right: 160px; }
      .p-synop03 .synopsis03 .tit {
        width: 223px; }
    .p-synop03 .synopsis04 .tit {
      width: 122px; }
    .p-synop03 p {
      margin-top: 32px; }
    .p-synop03 span {
      display: block;
      margin-top: 28px;
      font-size: 16px;
      color: #ffc1dd;
      font-weight: bold; }
  .p-synop04 {
    margin-top: 68px; }
    .p-synop04 .tit {
      width: 340px; }
    .p-synop04 ol {
      margin-top: 32px; }
      .p-synop04 ol li {
        padding-left: 18px;
        font-size: 16px;
        line-height: 1.56;
        color: #e95f9e;
        text-indent: -18px; }
  .jp .p-synop04 .tit {
    width: auto; }
  .p-video {
    margin-top: 160px; }
    .p-video .video-area {
      overflow: hidden;
      margin-top: 37px;
      width: 960px;
      min-height: 540px;
      border: 5px solid #ff0075;
      background: #fff;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box; } }

/* mobile */
@media (max-width: 1023px) {
  #p-wrapper {
    background: #00000b url("../images/bg_mobile.jpg") 50% 0 no-repeat; }
    #p-wrapper.hidden header {
      top: -64px; }
    #p-wrapper.hidden .p-lnb {
      top: 0; }
  header {
    position: absolute;
    top: 0;
    left: 0;
    transition: top .4s;
    -webkit-transition: top .4s;
    -ms-transition: top .4s;
    width: 100%;
    height: 64px;
    padding: 21px;
    background: #000;
    border-bottom: 1px solid #777;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box; }
    header .logo img {
      height: 22px; }
    header .menu {
      position: absolute;
      top: 21px;
      right: 18px; }
      header .menu img {
        height: 24px; }
    header nav, header .select-box {
      display: none; }
  .p-container {
    padding: 64px 20px 190px; }
  .p-lnb {
    display: block;
    position: fixed;
    z-index: 1;
    top: -64px;
    left: 0;
    background: #000;
    width: 100%;
    transition: top .4s;
    -webkit-transition: top .4s;
    -ms-transition: top .4s;
    border-bottom: 1px solid #777; }
    .p-lnb ul {
      white-space: nowrap;
      overflow-x: scroll;
      padding: 0 17px; }
      .p-lnb ul li {
        display: inline-block;
        margin-left: 20px; }
        .p-lnb ul li:first-child {
          margin-left: 0; }
        .p-lnb ul li a {
          line-height: 64px;
          font-size: 17px;
          color: #888;
          transition: all .4s;
          -webkit-transition: all .4s;
          -ms-transition: all .4s; }
          .p-lnb ul li a.on, .p-lnb ul li a:hover, .p-lnb ul li a:focus, .p-lnb ul li a:active {
            color: #fff; }
            .p-lnb ul li a.on span, .p-lnb ul li a:hover span, .p-lnb ul li a:focus span, .p-lnb ul li a:active span {
              color: #ff0075; }
        .p-lnb ul li span {
          display: inline-block;
          margin-left: 10px; }
  section {
    color: #ff0075; }
    section p {
      font-size: 16px;
      line-height: 1.75;
      text-align: justify;
      color: #e95f9e; }
  .tit {
    position: relative;
    display: block;
    padding-bottom: 20px;
    color: #ff0075;
    font-weight: 900;
    text-transform: uppercase; }
    .tit.font-size01 {
      font-size: 50px;
      line-height: 1; }
    .tit.font-size02 {
      font-size: 25px; }
    .tit.font-size03 {
      font-size: 22px; }
    .tit:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 5px;
      background: #ff0075; }
    .tit + span {
      display: block;
      margin-top: 26px;
      font-size: 25px;
      color: #ff0075;
      font-weight: 900;
      text-transform: uppercase; }
  .p-kv {
    padding-top: 30px;
    text-align: center; }
    .p-kv h1 {
      height: 121px;
      text-indent: -9999px;
      background: url("../images/text_sunmi-m.png") 50% 0 no-repeat;
      background-size: auto 121px; }
    .p-kv > strong {
      display: block;
      width: 280px;
      margin: 2px auto 0;
      font-size: 21px;
      line-height: 1.19;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase; }
  .p-kv .count {
    display: block;
    margin-top: 366px;
    font-size: 0; }
    .p-kv .count strong {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
      padding-left: 18px;
      font-size: 40px;
      font-weight: bold;
      line-height: 0.63;
      color: #fff; }
      .p-kv .count strong:after {
        content: '/';
        position: absolute;
        top: 8px;
        left: 0;
        font-weight: 300;
        font-size: 20px;
        opacity: .6; }
      .p-kv .count strong:first-child {
        padding-left: 10px; }
        .p-kv .count strong:first-child:after {
          display: none; }
      .p-kv .count strong em {
        display: block;
        margin-top: 5px;
        font-size: 15px;
        line-height: 1.67; }
  .p-notice {
    position: relative;
    margin-top: 42px;
    padding-bottom: 32px; }
    .p-notice a {
      display: block;
      color: #e95f9e; }
    .p-notice .tit {
      padding-bottom: 0; }
      .p-notice .tit:after {
        display: none; }
    .p-notice p {
      overflow: hidden;
      margin-top: 5px;
      width: calc(100% - 20px);
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; }
    .p-notice span {
      display: block;
      margin-top: 6px;
      font-size: 16px; }
    .p-notice em {
      position: absolute;
      top: 0;
      left: 92px;
      font-size: 22px;
      font-weight: bold; }
    .p-notice:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 40px;
      height: 5px;
      background: #ff0075; }
  .p-synop01 {
    margin-top: 70px; }
    .p-synop01 .tit {
      width: 210px; }
      .p-synop01 .tit + span {
        width: 202px; }
    .p-synop01 article {
      margin-top: 30px; }
    .p-synop01 .cont01 strong {
      font-size: 25px;
      line-height: 1;
      font-weight: bold; }
    .p-synop01 .cont01 p {
      margin-top: 10px; }
  .p-synop01 .cont02 {
    margin-top: 50px; }
    .p-synop01 .cont02 strong {
      font-size: 25px;
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold; }
    .p-synop01 .cont02 em {
      display: block;
      margin-top: 3px;
      font-size: 30px;
      line-height: 0.83;
      font-weight: bold; }
      .p-synop01 .cont02 em + p {
        margin-top: 26px; }
    .p-synop01 .cont02 p {
      margin-top: 15px; }
    .p-synop01 .cont02 > div {
      margin-top: 36px; }
      .p-synop01 .cont02 > div ul + p {
        margin-top: 10px; }
      .p-synop01 .cont02 > div p {
        margin-top: 0; }
      .p-synop01 .cont02 > div + p {
        margin-top: 12px; }
    .p-synop01 .cont02 li {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.25;
      color: #ffc1dd; }
      .p-synop01 .cont02 li span {
        display: block; }
  .p-synop01 .bold {
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold; }
  .p-synop02 {
    margin-top: 317px; }
    .p-synop02 .tit {
      width: 180px; }
      .p-synop02 .tit + span {
        width: 210px; }
    .p-synop02 ul {
      margin-top: 30px; }
    .p-synop02 li {
      margin-top: 20px; }
      .p-synop02 li:first-child {
        margin-top: 0; }
      .p-synop02 li strong {
        font-size: 18px;
        font-weight: bold;
        color: #ffc1dd; }
  .p-synop03 {
    margin-top: 230px; }
    .p-synop03 .synopsis03 .tit {
      width: 223px; }
    .p-synop03 .synopsis04 {
      margin-top: 60px; }
      .p-synop03 .synopsis04 .tit {
        width: 122px; }
    .p-synop03 p {
      margin-top: 28px; }
    .p-synop03 span {
      display: block;
      margin-top: 20px;
      font-size: 16px;
      color: #ffc1dd;
      font-weight: bold; }
  .p-synop04 {
    margin-top: 58px; }
    .p-synop04 .tit {
      width: 340px; }
    .p-synop04 ol {
      margin-top: 28px; }
      .p-synop04 ol li {
        padding-left: 18px;
        font-size: 16px;
        line-height: 1.44;
        color: #e95f9e;
        text-indent: -18px; }
  .p-video {
    margin-top: 75px; }
    .p-video .video-area {
      overflow: hidden;
      margin: 30px -20px 0;
      min-height: 200px;
      background: #fff;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-shadow: 0 0 30px 0 #161b8a;
      -webkit-box-shadow: 0 0 30px 0 #161b8a;
      -ms-box-shadow: 0 0 30px 0 #161b8a; }
  .top {
    position: fixed;
    bottom: 100px;
    right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: #a7a7a7 url("../images/bg_top.png") 50% 50% no-repeat;
    text-indent: -9999px;
    background-size: auto 35px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16); }
  .join-box {
    position: fixed;
    bottom: -91px;
    left: 0;
    width: 100%;
    background: #ff0075;
    z-index: 1;
    text-align: center;
    transition: bottom .4s;
    -webkit-transition: bottom .4s;
    -ms-transition: bottom .4s; }
    .join-box a {
      display: block;
      padding: 20px 0;
      color: #fff;
      font-size: 17px;
      font-weight: bold; }
      .join-box a strong {
        display: block;
        font-size: 23px;
        font-weight: bold; }
    .join-box.floating {
      bottom: 0; } }

/*# sourceMappingURL=common.css.map */
